{% include 'sitio/cabecera.html' %}



<div class="card bg-dark text-white">
  <img class="card-img" src="https://cdn.pixabay.com/photo/2015/07/31/11/45/library-869061_640.jpg" alt="Card image">
  <div class="card-img-overlay">
    <h1 class="card-title">Bienvenid@</h1>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <a name="" id="" class="btn btn-warning" href="/libros" role="button">Ver catálogo de libros</a>
  </div>
</div>
  <!-- <div class="p-5 mb-4 bg-light rounded-3">
    
    <div class="container-fluid py-5">

      <h1 class="display-5 fw-bold">Bienvenid@</h1>
      <p class="col-md-8 fs-4">Probando.</p>
      
      <a name="" id="" class="btn btn-warning" href="/libros" role="button">Ver catálogo de libros</a>
      
      <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/07/31/11/45/library-869061_640.jpg" alt="Title">
      
    </div>
  </div> -->
  
<!-- <div class="card text-white bg-primary">
  <div class="card-body">
    <h4 class="card-title">Bienvenid@</h4>
    <p class="card-text">Text</p>
  <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/07/31/11/45/library-869061_640.jpg" alt="Title">

  </div>
</div> -->
  
{% include 'sitio/pie.html' %}
